<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="logsfile" fileName="src/main/resources/logs/lesson17.log">
      <PatternLayout>
        <Pattern>%d %p %c{1} [%t] %m %ex%n</Pattern>
      </PatternLayout>
    </File>
    <Console name="consl" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
    </Console>
    <JDBC name="db" tableName="app_logs">
      <DriverManager connectionString="jdbc:postgresql://127.0.0.1:5432/postgres" driverClassName="org.postgresql.Driver"
                     username="postgres" password="4444"/>
      <Column name="ENTRY_DATE" isEventTimestamp="true" isUnicode="false"/>
      <Column name="LOGGER" pattern="%logger" isUnicode="false"/>
      <Column name="LOG_LEVEL" pattern="%level" isUnicode="false"/>
      <Column name="MESSAGE" pattern="%m" isUnicode="false"/>
      <Column name="EXCEPTION" pattern="%throwable " isUnicode="false"/>
    </JDBC>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="consl" level="info"/>
      <AppenderRef ref="logsfile" level="error"/>
    </Root>
    <Logger name="RunStoreDB" level="trace" additivity="false">
      <AppenderRef ref="consl" level="trace"/>
      <AppenderRef ref="logsfile" level="warn"/>
    </Logger>
    <Logger name="lesson15.dao.AccessoryDAOImpl" level="debug" additivity="false">
      <AppenderRef ref="consl" level="error"/>
      <AppenderRef ref="db" level="debug"/>
    </Logger>
    <Logger name="lesson15.dao.MobileDAOImpl" level="debug" additivity="false">
      <AppenderRef ref="consl" level="error"/>
      <AppenderRef ref="db" level="debug"/>
    </Logger>
    <Logger name="lesson15.dao.ServiceDAOImpl" level="debug" additivity="false">
      <AppenderRef ref="consl" level="error"/>
      <AppenderRef ref="db" level="debug"/>
    </Logger>
  </Loggers>
</Configuration>