<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="logsfile" fileName="src/main/resources/logs/lesson17.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
      </PatternLayout>
    </File>
    <Console name="consl" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="consl" level="info"/>
      <AppenderRef ref="logsfile" level="error"/>
    </Root>
    <Logger name="RunStoreDB" level="trace" additivity="false">
      <AppenderRef ref="consl" level="trace"/>
      <AppenderRef ref="logsfile" level="warn"/>
    </Logger>
  </Loggers>
</Configuration>